<!DOCTYPE html>
<html>

<head>
    <title>出库记录·库存管理系统</title>
    <style>

    </style>
    {include file="common/header"/}
    <el-main>
        <el-row>
            <el-col :span="8"><div class="grid-content bg-purple">出库编号：{{ StockOutID }}</div></el-col>
            <el-col :span="8"><div class="grid-content bg-purple-light">评审单号：{{ AppraisalID }}</div></el-col>
            <el-col :span="8"><div class="grid-content bg-purple-light">剩余需求数量：{{ Quantity }}</div></el-col>
        </el-row>

    <br>
        <el-table :data="BOM">
            <el-table-column prop="MaterialID" label="物料编号">
            </el-table-column>
            <el-table-column prop="MaterialName" label="物料名称">
            </el-table-column>
            <el-table-column prop="BOM" label="需求数量">
            </el-table-column>
            <el-table-column label="实际数量">
                <template slot-scope="scope">
                    <el-input-number v-model="scope.row.input"
                                     :precision="4"
                                     :controls="false"
                                     size="small"
                                     placeholder="请确定数量"
                                     :min="0"
                    ></el-input-number>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <br>
        <el-row v-show="showbutton">
            <el-col :span="2">
                <div class="grid-content bg-purple-dark">
                    <el-button type="danger" icon="el-icon-delete" @click="end()" circle></el-button>
                </div>
            </el-col>

            <el-col :span="2" :offset="20">
                <div class="grid-content bg-purple-dark">
                    <el-button type="success" icon="el-icon-check" @click="postAdd()" circle></el-button>
                </div>
            </el-col>
        </el-row>
        <el-row v-show="!showbutton">
            <el-col :span="24">
                <h1>请检查输入是否正确！</h1>
            </el-col>
        </el-row>
    </el-main>
    {include file="common/footer"/}
    <script>
        new Vue({
            el: '#app',
            data:{
                form:{

                },
                BOM:{

                },
                StockOutID:'',
                AppraisalID:'',
                Quantity:'',
            },
            mounted () {
                this.abc();
            },

            methods: {
                logOut() {
                    var that = this;
                    axios.post('user/logout')
                        .then(function (response)
                        {
                            if (response.data.code == 200) {
                                that.$message({
                                    message: '退出成功,正在跳转中',
                                    type: 'success'
                                });
                                setTimeout(function () {
                                    location.replace('');
                                }, 1000)
                            } else {
                                that.$message.error(response.data.msg);
                            }
                        })
                        .catch(function (error)
                        {
                            that.$message.error('tuichu失败，服务器内部错误');
                        })

                },

                abc(){
                    var that = this;
                    setTimeout(function(){
                        that.StockOutID = getCookie('StockOutID');
                        that.AppraisalID = getCookie('AppraisalID');
                        that.Quantity = getCookie('LeftQuantity');
                        }, 200);

                    axios.post('manage/confirmmaterial')
                        .then(function (response)
                        {
                            that.BOM = response.data.data;
                            that.showbutton = 'true'
                        })

                },

                postAdd(){
                    var that = this;
                    axios.post('manage/addbring', Object.assign(that.BOM))
                        .then(function (response) {
                            if (response.data.code == CODE_SUCCESS) {
                                that.$message({
                                    message: response.data.msg,
                                    type: 'success'
                                });
                                setTimeout(function () {
                                    location.replace('/admin/bring');
                                }, 1000)
                            } else {
                                that.$message.error(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                            that.$message.error('服务器内部错误');
                            console.log(error);
                        });
                },

                end(){
                    console.log('end');
                    location.replace('/admin/bring');
                },

            }
        })
    </script>

</html>