<!DOCTYPE html>
<html>

<head>
    <title>车辆监控·车队管理系统</title>

    {include file="common/header"/}
    <el-main>
        <!--                <el-table >-->
        <!--                    <el-table-column label="日期" width="140">-->
        <!--                    </el-table-column>-->
        <!--                    <el-table-column label="姓名" width="120">-->
        <!--                    </el-table-column>-->
        <!--                    <el-table-column label="地址">-->
        <!--                    </el-table-column>-->
        <!--                </el-table>-->
        <div id="container"></div>
    </el-main>
    {include file="common/footer"/}
    <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=p8FRTGZ4V26VzvT6Kot8fM8DFxG8UGVv"></script>
    <script>
        new Vue({
            el: '#app',
            data:{
                len : 106.4737810,
                lat : 29.5675670,
                username : "",
                loc:[

                ],
            },
            mounted () {

                this.abcd();

                // setTimeout(()=>{   //设置延迟执行
                this.baiduMap();
                // },1000);

                // this.username = getCookie('username');

            },

            methods: {
                logOut() {
                    var that = this;
                    axios.post('user/logout')
                        .then(function (response)
                        {
                            if (response.data.code == 200) {
                                that.$message({
                                    message: '退出成功,正在跳转中',
                                    type: 'success'
                                });
                                setTimeout(function () {
                                    location.replace('');
                                }, 1000)
                            } else {
                                that.$message.error(response.data.msg);
                            }
                        })
                        .catch(function (error)
                        {
                            that.$message.error('tuichu失败，服务器内部错误');
                        })
                    ;

                },
                abcd(){
                    var that = this;
                    axios.post('user/getmyvalue')
                        .then(function (response)
                        {
                            if(response.data.code==200){
                                that.username = response.data.data.name;
                            }
                        })

                },

                baiduMap(){

                    var that = this;
                    var marker = [];
                    var map = new BMapGL.Map('container');
                    var point = new BMapGL.Point(this.len, this.lat);
                    map.centerAndZoom(point, 15);
                    // 创建小车图标(目前本地还没有图标，地图上看不到，可以删掉下面一行，marker去掉pt后面的参数，让其变成默认红点)
                    var myIcon = new BMapGL.Icon('/static/images/car.png', new BMapGL.Size(52, 26));

                    map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
                    //定义一个控件类
                    // function ZoomControl() {
                    //     this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
                    //     this.defaultOffset = new BMapGL.Size(20, 20)
                    // }
                    // //通过JavaScript的prototype属性继承于BMap.Control
                    // ZoomControl.prototype = new BMapGL.Control();
                    //
                    // //自定义控件必须实现自己的initialize方法，并且将控件的DOM元素返回
                    // //在本方法中创建个div元素作为控件的容器，并将其添加到地图容器中
                    // ZoomControl.prototype.initialize = function(map) {
                    //     //创建一个dom元素
                    //     var div = document.createElement('div');
                    //     //添加文字说明
                    //     div.appendChild(document.createTextNode('更新位置'));
                    //     // 设置样式
                    //     div.style.cursor = "pointer";
                    //     div.style.padding = "7px 10px";
                    //     div.style.boxShadow = "0 2px 6px 0 rgba(27, 142, 236, 0.5)";
                    //     div.style.borderRadius = "5px";
                    //     div.style.backgroundColor = "white";
                    //     // 绑定事件,点击一次位置更新
                    //     div.onclick = function(e){
                    //
                    //
                    //         //初始化loc数组
                    //         that.loc = [];
                    //         //post请求更新数组
                    //         that.abc();
                    //         //清空marker
                    //         marker = [];
                    //         num = 0;
                    //         setTimeout(function(){
                    //             map.clearOverlays();
                    //             for (var k in that.loc) {
                    //                 var pt = new BMapGL.Point(parseFloat(that.loc[k].lng), parseFloat(that.loc[k].lat));
                    //                 //存住当前回调函数时的k,回调函数为另一个函数的构造器,实现闭包
                    //                 //感谢刘子玄，牛逼！
                    //                 translateCallback = function(k_shadowed){return function (data){
                    //                     marker[k_shadowed] = new BMapGL.Marker(data.points[0], {
                    //                         icon: myIcon
                    //                     });
                    //
                    //                     map.addOverlay(marker[k_shadowed]);
                    //                     num++;
                    //                     var opts = {
                    //                         width: 200,
                    //                         height: 110,
                    //                         title: '车辆信息'
                    //                     };
                    //                     var tmp;
                    //                     switch(that.loc[k_shadowed].type) {
                    //                         case 'small_passenger': tmp = "小型客车";break;
                    //                         case 'mid_passenger':   tmp = "中型客车";break;
                    //                         case 'large_passenger': tmp = "大型客车";break;
                    //                         case 'small_cargo':     tmp = "小型货车";break;
                    //                         case 'mid_cargo':       tmp = "中型货车";break;
                    //                         case 'large_cargo':     tmp = "大型货车";break;
                    //                     }
                    //
                    //                     var infoWindow = new BMapGL.InfoWindow('牌照：'+that.loc[k_shadowed].license+'</br>驾驶员：'+that.loc[k_shadowed].name+'</br>车辆类型：'+tmp+'</br>定位时间：'+that.loc[k_shadowed].time, opts);
                    //                     marker[k_shadowed].addEventListener("click", function () {
                    //                         this.openInfoWindow(infoWindow,data.points[0]);
                    //                     });
                    //
                    //                 }}
                    //                 var convertor = new BMapGL.Convertor();
                    //                 var pointArr = [];
                    //                 pointArr.push(pt);
                    //                 convertor.translate(pointArr, COORDINATES_WGS84, COORDINATES_BD09, translateCallback(k))
                    //
                    //             }
                    //         }, 500);
                    //
                    //     }
                    //     // 添加DOM元素到地图中
                    //     map.getContainer().appendChild(div);
                    //     // 将DOM元素返回
                    //     return div;
                    // }
                    // //创建控件元素
                    // var myZoomCtrl = new ZoomControl();
                    // //添加到地图中
                    // map.addControl(myZoomCtrl);
                    setInterval(function(e){
                        var oldmarker=[];

                        //初始化loc数组
                        that.loc = [];
                        //post请求更新数组

                        axios.post('car/getlocation')
                            .then(function (response)
                            {
                                that.loc= response.data.data;

                                //防止数组长度变化后导致某个marker无法remove
                                var index;
                                for(index in oldmarker){
                                    map.removeOverlay(oldmarker[index]);
                                }

                                //清空marker
                                // map.clearOverlays();
                                oldmarker = marker;
                                marker = [];
                                setTimeout(function(){
                                    for (var k in that.loc) {
                                        var pt = new BMapGL.Point(parseFloat(that.loc[k].lng), parseFloat(that.loc[k].lat));
                                        //存住当前回调函数时的k,回调函数为另一个函数的构造器,实现闭包
                                        //感谢刘子玄，牛逼！
                                        translateCallback = function(k_shadowed){return function (data){
                                            marker[k_shadowed] = new BMapGL.Marker(data.points[0], {
                                                icon: myIcon
                                            });
                                            map.removeOverlay(oldmarker[k_shadowed]);
                                            map.addOverlay(marker[k_shadowed]);
                                            var opts = {
                                                width: 200,
                                                height: 110,
                                                title: '车辆信息'
                                            };
                                            var tmp;
                                            switch(that.loc[k_shadowed].type) {
                                                case 'small_passenger': tmp = "小型客车";break;
                                                case 'mid_passenger':   tmp = "中型客车";break;
                                                case 'large_passenger': tmp = "大型客车";break;
                                                case 'small_cargo':     tmp = "小型货车";break;
                                                case 'mid_cargo':       tmp = "中型货车";break;
                                                case 'large_cargo':     tmp = "大型货车";break;
                                            }

                                            var infoWindow = new BMapGL.InfoWindow('牌照：'+that.loc[k_shadowed].license+'</br>驾驶员：'+that.loc[k_shadowed].name+'</br>车辆类型：'+tmp+'</br>定位时间：'+that.loc[k_shadowed].time, opts);
                                            marker[k_shadowed].addEventListener("click", function () {
                                                this.openInfoWindow(infoWindow,data.points[0]);
                                            });

                                        }}
                                        var convertor = new BMapGL.Convertor();
                                        var pointArr = [];
                                        pointArr.push(pt);
                                        convertor.translate(pointArr, COORDINATES_WGS84, COORDINATES_BD09, translateCallback(k))

                                    }

                                }, 300);
                            })
                    },3000);

                }
            }
        })
    </script>

</html>