<van-row>
    <van-tabbar v-model="active">
        <van-tabbar-item name="work" onclick="location.href='work';" icon="desktop-o">工作</van-tabbar-item>
        <van-tabbar-item name="apply" onclick="location.href='apply';" icon="certificate">申请</van-tabbar-item>
        <van-tabbar-item name="my" onclick="location.href='myinfo';" icon="contact">我的</van-tabbar-item>
    </van-tabbar>
</van-row>
</div>
</body>
<script src="/static/js/vue-2.6.10.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vant.min.js"></script>
<script src="/static/js/StartAdmin.js"></script>